.flex{
    display: flex;
    flex: auto;
    flex-direction:row; 
  }
  
  .cardHolder{
    display: flex;
    flex: auto;
    flex-direction:row; 
    align-self: center;
    justify-content: end;
    width: 90%;
  }

  .card{
    justify-content: center;
    align-self: flex-end;
    background-color: #282c34;
    border-radius: 5px 5px 5px;
    width: 225px;
    height: 325px;
    margin: 8px;
    text-decoration: none;
  }

  .card:hover{
    box-shadow: 5px 5px 5px black;
    transform: rotate(350deg);
  }

  .cardText{
    text-decoration: none;
    text-align: center;
    color: white;
  }

  .text1{
    align-self: flex-start;
    font-size: 30px;
    margin-right: 300px;
    width: 30%;
    margin-left: 200px;
  }

  .photo1{
    background-image: url(../../images/Spotlight.png);
    width: 100%;
    height: 60%;
    background-size: cover;
    /* background-position: center; */
  }

  .photo2{
    background-image: url(../../images/backstageConnection.jpg);
    background-size: cover;
    width: 100%;
    height: 60%;
  }

  .photo3{
    background-image: url(../../images/starwarsgame.png);
    width: 100%;
    height: 60%;
    background-position: center;
  }

  .photo4{
    background-image: url(../../images/laughingemoji.jpg);
    background-size: 95%;
    width: 100%;
    height: 60%;
    background-position: 4px;
  }

  .photo5{
    background-image: url(../../images/Screenshot\ 2022-09-22\ 165642.png);
    width: 100%;
    height: 60%;
  }

  .photo6{
    background-image: url(../../images/passgen.jpg.png);
    width: 100%;
    background-size: cover;
    height: 60%;
    background-position: center;
  }



