.main{
    display: flex;
    flex: auto;
    flex-direction:row; 
    justify-content: center;
    font-size: 30px;
    font-family: 'Inconsolata', monospace;
    text-shadow: 5px 5px 5px rgba(82, 219, 159, 0.566);
}

.navLink{
    text-decoration: none;
    color: black;
    font-size: 40px;
}

.navLink:hover{
    font-size: 50px;
    animation: hoverSpin;
}


.space-around{
    justify-content: space-around;
}

@keyframes hoverSpin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }